{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}

    <script
        src="{% static 'admin/js/service_page_admin.js' %}"
        defer
    ></script>
{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" with heading_level=2 prefix="fieldset" id_prefix=0 id_suffix=forloop.counter0 %}

        {% if forloop.counter == 3 %}
            {% for inline_admin_formset in inline_admin_formsets %}
                {% if inline_admin_formset.formset.prefix == "awards" %}
                    {% include inline_admin_formset.opts.template %}
                {% endif %}
            {% endfor %}
        {% elif forloop.counter == 4 %}
            {% for inline_admin_formset in inline_admin_formsets %}
                {% if inline_admin_formset.formset.prefix == "quotes" %}
                    {% include inline_admin_formset.opts.template %}
                {% endif %}
            {% endfor %}
        {% elif forloop.counter == 5 %}
            {% for inline_admin_formset in inline_admin_formsets %}
                {% if inline_admin_formset.formset.prefix == "mentions" %}
                    {% include inline_admin_formset.opts.template %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block inline_field_sets %}{% endblock %}