SECRET_KEY=change-me
DEBUG=False

ALLOWED_HOSTS=example.com,www.example.com

DB_NAME=memorial
DB_USER=memorial
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

SECURE_SSL_REDIRECT=True

SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False