# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

media/*
!media/.gitkeep