{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <a class="brand brand-footer" href="{% url 'pages:home' %}">
        <span class="brand-mark" aria-hidden="true">{{ site_settings.brand_letter|default:"П" }}</span>
        <span class="brand-copy">
          <strong>{{ site_settings.site_name|default:"ПАМ’ЯТЬ" }}</strong>
          <small>{{ site_settings.subtitle }}</small>
        </span>
      </a>
      <p>{{ site_settings.footer_text }}</p>

      <form
        class="footer-language-switcher"
        action="{% url 'set_language' %}"
        method="post"
      >
        {% csrf_token %}

        <input
          type="hidden"
          name="next"
          value="{{ request.get_full_path }}"
        >

        <button
          type="submit"
          name="language"
          value="uk"
          class="{% if CURRENT_LANGUAGE == 'uk' %}is-active{% endif %}"
          {% if CURRENT_LANGUAGE == "uk" %}
            aria-current="true"
          {% endif %}
        >
          UA
        </button>

        <button
          type="submit"
          name="language"
          value="en"
          class="{% if CURRENT_LANGUAGE == 'en' %}is-active{% endif %}"
          {% if CURRENT_LANGUAGE == "en" %}
            aria-current="true"
          {% endif %}
        >
          EN
        </button>
      </form>

    </div>
    <div class="footer-nav" aria-label="Навігація в підвалі">

        <a href="{% url 'pages:home' %}">
            {{ site_settings.home_title }}
        </a> ·

        <a href="{% url 'pages:life' %}">
            {{ site_settings.life_title }}
        </a> ·

        <a href="{% url 'pages:service' %}">
            {{ site_settings.service_title }}
        </a> ·

        <a href="{% url 'pages:photos' %}">
            {{ site_settings.photos_title }}
        </a> ·

        <a href="{% url 'pages:videos' %}">
            {{ site_settings.videos_title }}
        </a> ·

        <a href="{% url 'pages:memories' %}">
        {{ site_settings.memories_title }}
        </a>

    </div>
    <div class="footer-meta">
      <p>© {% now "Y" %} {{ site_settings.copyright_holder|default:"Родина Назара Боровицького" }}</p>
      <p>Сторінка розроблена в світлу пам*ять Назара Боровицького</p>
    </div>
  </div>
</footer>
